
@model FreeCycle2.Models.Item
@{
    ViewBag.Title = "myitem";
}



<link rel="stylesheet" href="~/Content/Site.css">


@using (Html.BeginForm("AllItems", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    var i = 0;
    @Html.HiddenFor(m => m.EditIndex2)

    <table>
        @for (i = 0; i < Model.allItems.Count(); i++)
        {
            if (!Model.allItems[i].IsEditable2)
            {



                <tr>

                    @Html.HiddenFor(m => m.allItems[i].item_id)
                    <td>
                        @if (Html.DisplayFor(m => m.allItems[i].is_active).ToString() == "1")
                        {

                            <p>Not Reserved</p>

                        }
                        else
                        {
                            <p>Reserved</p>
                        }
                    </td>
                    <td>@Html.DisplayFor(m => m.allItems[i].item_title)</td>
                    <td>@Html.DisplayFor(m => m.allItems[i].item_detail)</td>
                    <td><img width="100px" height="100px" src="data:image;base64,@Convert.ToBase64String(Model.allItems[i].image)" /></td>
                    <td>@Html.ActionLink("Edit", "ItemsEdit", new { id = Model.allItems[i].item_id })</td>
                    <td>@Html.ActionLink("Delete", "ItemsDelete", new { Id = Model.allItems[i].item_id })</td>
                </tr>
            }
            else
            {

    <tr>

        @Html.HiddenFor(m => m.allItems[i].item_id)
        <td>
            @if (Html.DisplayFor(m => m.allItems[i].is_active).ToString() == "1")
            {

                <p>Not Reserved</p>

            }
            else
            {
                <p>Reserved</p>
            }
        </td>
        <td>@Html.TextBoxFor(m => m.allItems[i].item_title)</td>
        <td>

            @Html.TextBoxFor(m => m.allItems[i].item_detail)
        </td>
        <td><input asp-for="Picture" type="file" name="file" /></td>


        @if (Html.DisplayFor(m => m.allItems[i].is_active).ToString() == "1")
        {
            <td><h6>Checked means "Not Reserved"</h6>
                <input checked="checked"
                       id="IsActive"
                       name="IsActive"
                       type="checkbox"
                       value="true" />
            </td>

        }
        else
        {
            <td><h6>UnChecked means "Reserved"</h6>
                <input id="IsActive"
                       name="IsActive"
                       type="checkbox"
                       value="true" />
            </td>

            <td><h6>if item is sold, Enter the buyer's email here</h6>
        @Html.TextBox("email")</td>
        }



        <td> <input type="submit" value="Save" name="Save" class="btn btn-link" /></td>
        <td> <input type="submit" value="Cancel" name="Cancel" class="btn btn-link" /></td>

    </tr>



            }
        }
    </table>




}
