@using FreeCycle2.Models;


<!DOCTYPE html>

<html>
<head>

    <style>
        .vertical-menu {
            width: 100%;
            height: 100%;
            
        }

            .vertical-menu a {
                background-color: #ffff;
                color: black;
                display: block;
                padding: 5px;
                text-decoration: none;
                
            }

                .vertical-menu a:hover {
                    text-decoration:underline;
                }

                .vertical-menu a.active {
                    background-color: #4CAF50;
                    color: white;
                }
    </style>
    
</head>

<body>



    @{ if (ViewBag.a == 1)

        {
            <div class="container-fluid">
                <div class="vertical-menu">


                    <div class="row">
                       
                            <div class="col-sm-2">
                                <h4 style="text-align:left; font-weight:bold">Categories</h4>
                                @foreach (var category in (List<Category>)ViewData["categorylist"])
                                {
                                    <a href="@Url.Action("Item", "Home", new { categoryID = category.Category_Id })">@category.Category_name</a>
                                }
                            </div>
                        <div class="col-sm-9">
                            @{
                                var itemCount = 0;
                                foreach (var product in (List<Item>)ViewData["itemlist"])
                                {

                                    itemCount++;
                                }

                                <h4>Showing @itemCount Ads </h4>
                            }
                            @foreach (var product in (List<Item>)ViewData["itemlist"])
                            {
                                var base64 = Convert.ToBase64String(product.image);
                                var img = string.Format("data:Image/jpg;base64,{0}", base64);



                                <a style="box-shadow: 0px 0px 8px #888888; margin-bottom:7px;" href="@Url.Action("ItemDetails", "ItemDetails", new { item_id = product.item_id})">
                                    <div class="row">
                                        <div class="col-md-3" style="text-align:left;  padding-left:-5px;">  <img src="@img" width="180" height="180" style="position:center" /> </div>

                                        <div class="col-md-9">
                                            <h4 href="@Url.Action("ItemDetails", "ItemDetails", new { item_id = product.item_id})" style="color:darkblue; font-size:medium;">
                                                @product.item_title
                                            </h4>
                                            <div style="font-size: 12px; color:grey; "><h6>Posted on: @product.create_date</h6></div>

                                            <div style="font-size: 14px;">@product.item_detail</div>

                                        </div>
                                    </div>
                                </a>


                            }

                        </div>
                    </div>
                </div>


            </div>

        }

        else if (ViewBag.a == 3)
        {
            <div class="container">
                <div class="vertical-menu">


                    @{ if ((List<Item>)ViewData["itemlist2"] != null)
                        {
                            <div class="container">
                                <div class="row">
                                  
                                    <div class="col-sm-2">
                                          <p style="text-align:left; font-weight:bold">Categories</p>
                                        @{

                                            foreach (var category in (List<Category>)ViewData["categorylist"])
                                            {

                                                <a href="@Url.Action("Item", "Home", new { categoryID = category.Category_Id})">@category.Category_name</a>
                                            }
                                        }
                                    </div>

                                    <div class="col-sm-9">
                                        @{
                                            var itemCount = 0;
                                            foreach (var product in (List<Item>)ViewData["itemlist2"])
                                            {

                                                itemCount++;
                                            }

                                            <h4>Showing @itemCount Ads </h4>
                                        }
                                        @foreach (var product in (List<Item>
                                            )ViewData["itemlist2"])
                                        {
                                            var base64 = Convert.ToBase64String(product.image);
                                            var img = string.Format("data:Image/jpg;base64,{0}", base64);
                                            <a style="box-shadow: 0px 0px 8px #888888; margin-bottom:7px;" href="@Url.Action("ItemDetails", "ItemDetails", new { item_id = product.item_id })">
                                                <div class="row">
                                                    <div class="col-md-3" style="text-align:left;  padding-left:-5px;">  <img src="@img" width="180" height="180" style="position:center" /> </div>

                                                    <div class="col-md-9">
                                                        <h4 href="@Url.Action("ItemDetails", "ItemDetails", new { item_id = product.item_id})" style="color:darkblue; font-size:medium;">
                                                            @product.item_title
                                                        </h4>
                                                        <div style="font-size: 12px; color:grey; "><h6>Posted on: @product.create_date</h6></div>

                                                        <div style="font-size: 14px;">@product.item_detail</div>

                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>

                        }

                    }

                </div>
            </div>

        }

        else

        {

            <div class="container">
                <div class="vertical-menu">
                    @{ if ((List<Item>)ViewData["searchlist"] != null)
                        {



                            <div class="container">
                                <div class="row">
                                   
                                    <div class="col-sm-2">
                                         <p style="text-align:left; font-weight:bold">Categories</p>
                                        @foreach (var category in (List<Category>)ViewData["categorylist"])
                                        {
                                            <a href="@Url.Action("Item", "Home", new { categoryID = category.Category_Id})">@category.Category_name</a>
                                        }
                                    </div>
                                    <div class="col-sm-9">
                                        @{
                                            var itemCount = 0;
                                            foreach (var product in (List<Item>)ViewData["searchlist"])
                                            {

                                                itemCount++;
                                            }

                                            <h4>Showing @itemCount Ads for "@ViewBag.search"</h4>
                                        }
                                        @foreach (var product in (List<Item>
                                            )ViewData["searchlist"])
                                        {
                                            var base64 = Convert.ToBase64String(product.image);
                                            var img = string.Format("data:Image/jpg;base64,{0}", base64);
                                            <a style="box-shadow: 0px 0px 8px #888888; margin-bottom:7px;" href="@Url.Action("ItemDetails", "ItemDetails", new { item_id = product.item_id})">
                                                <div class="row">
                                                    <div class="col-md-3" style="text-align:left;  padding-left:-5px;">  <img src="@img" width="180" height="180" style="position:center" /> </div>

                                                    <div class="col-md-9">
                                                        <h4 href="@Url.Action("ItemDetails", "ItemDetails", new { item_id = product.item_id})" style="color:darkblue; font-size:medium;">
                                                            @product.item_title
                                                        </h4>
                                                        <div style="font-size: 12px; color:grey; "><h6>Posted on: @product.create_date</h6></div>

                                                        <div style="font-size: 14px;">@product.item_detail</div>

                                                    </div>
                                                </div>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>

                        }

                    }

                </div>
            </div>
        }
    }
</body>


</html>

