
@using FreeCycle2.Models
@{
    ViewBag.Title = "ItemDetails";
}



<div class="container-fluid">
    <div class="row" >


        <div class="col-lg-12" align="center">


            @{ if ((List<Item>)ViewData["itemlist45"] != null)
                {



                    foreach (var product in (List<Item>)ViewData["itemlist45"])
                    {
                        var base64 = Convert.ToBase64String(product.image);
                        var img = string.Format("data:Image/jpg;base64,{0}", base64);


                        <div class="container-fluid"  style="box-shadow: 0px 0px 8px #888888;">
                            <div class="row">
                                <div class="col-lg-12" style="background-color:#F8F8F8; border-bottom:solid; border-color:lightgray" >
                                    <div class="container-fluid" style="font-family: Helvetica, Sans-Serif;font-size: 36pt; text-align:left; ">@product.item_title</div>
                                </div>
                            </div>
                            <div class="row" style=" height: 400px;">
                                <br /><br />
                                <div class="col-lg-6">
                                    <img src="@img" width="350px" height="300px" style="border:solid" />
                                </div>
                                <div class="col-lg-6" style="background-color:#E0E0E0; padding:5px; box-shadow: 0px 0px 5px #888888;  ">
                                    <br /><br />
                                    <div style="font-family: Arial;font-size: 26pt; font-weight:bold">Contact Information</div>
                                    <div style="font-family: Helvetica, Sans-Serif;font-size: 24pt;">@product.first_name @product.last_name</div>
                                    <div style="font-family: Helvetica, Sans-Serif;font-size: 20pt;">@product.email</div>
                                    @if (Request.Cookies["first_name"] != null)
                                    {
                                        <a href="mailto: @product.email?Subject=@product.item_title" class="btn btn-primary">Contact</a>
                                    }
                                    else
                                    {
                                        <div style="font-family: Helvetica, Sans-Serif;font-size: 12pt;">Login to contact </div>
                                    }

                                </div>
                                <br /><br />
                            </div>
                            <div class="row" align="left" style="background-color: #F8F8F8;  border-top:solid; border-color:lightgray">
                                <div class="col-lg-12">
                                    <div style=" font-family:  Times New Roman, Times, serif; font-size: 20pt;">@product.item_detail</div>

                                </div>


                                <br /><br /><br /><br /><br /><br /><div align="left" style=" font-family:  Times New Roman, Times, serif; font-size: 10pt;">@product.create_date</div>
                            </div>
                        </div> }

                } }

        </div>
    </div>
</div>


